@using HahaBuch.Charts

<div class="pie-chart-wrapper">
    <svg class="pie-chart" viewBox="-1 -1 @(radius * 2 + 2) @(radius * 2 + 2)">
        <g transform="translate (@radius, @radius)">
            @foreach (var slice in _slices)
            {
                <SvgPieSlice 
                    StartPoint="slice.StartPoint"
                    EndPoint="slice.EndPoint"
                    Radius="slice.Radius"
                    BackgroundColor=@slice.BackgroundColor
                    DataItem="slice.DataItem"
                    LargeArc="slice.LargeArc"
                    OnMouseOver="OnMouseOver"
                    OnMouseOut="OnMouseOut" />
            }
        </g>
    </svg>
</div>

@if (_selected != null)
{
    <p>@_selected.Label: @_selected.Value (@((_selected.Fraction * 100).ToString("0.##"))%)</p>
}

@code {
    [Parameter] public IEnumerable<PieSliceData>? Slices { get; set; }

    private const int radius = 100;
    private readonly List<SvgPieSlice<PieSliceData>> _slices = new();
    private PieSliceData? _selected;

    protected override void OnParametersSet()
    {
        CalculateSlices();
    }

    private void CalculateSlices()
    {
        _slices.Clear();
        _selected = null;
        if (Slices == null) return;

        var data = Slices.Where(s => s.Fraction > 0).ToList();
        if (!data.Any()) return;

        double currentAngle = Math.PI / 2; // start at 12 o'clock
        Point lastEndPoint = new Point(0, -radius);
        foreach (var item in data)
        {
            currentAngle -= item.Fraction * 2 * Math.PI;
            Point nextPoint = new Point(
                radius * Math.Cos(currentAngle),
                -1 * radius * Math.Sin(currentAngle)
            );
            _slices.Add(new SvgPieSlice<PieSliceData>
            {
                DataItem = item,
                StartPoint = lastEndPoint,
                EndPoint = nextPoint,
                Radius = radius,
                LargeArc = item.Fraction > 0.5,
                BackgroundColor = item.Color,
            });
            lastEndPoint = nextPoint;
        }
    }

    private void OnMouseOver(object? sender, PieSliceData slice)
    {
        _selected = slice;
        StateHasChanged();
    }

    private void OnMouseOut(object? sender, PieSliceData slice)
    {
        _selected = null;
        StateHasChanged();
    }
}
